html,body{
  margin:0;
  padding:0;
  background-color: #ECECEB;
}

#header{
  position:relative;
  height:100px;
  background-color:#07617D;
  padding-left:20px;
  width:100%;
  display:block;
  overflow:auto;
  color: #ECECEB;
}

#leftcol{
  width:15%;
  float:left;
  position:relative;
  background-color:#5E88FC;
  padding-left:15px;
  height:700px;
}

#leftcol a:link {
  color:#ffffff;
}

#leftcol a:visited {
  color:#ffffff;
}

#maincol{
  background-color:#ECECEB;
  position:relative;
  width:80%;
  margin-right: 35px;
  float:right}

.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.clearfix{
  display:inline-block
}

* html .clearfix{
  height:1%
}

.clearfix{
  display:block
}

@media print{#leftcol{display:none}

#twocols,#maincol{
  width:100%;
  float:none;
}

/* Table presentation and layout */

#slides {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#slides td, #slides th {
    border: 1px solid #ddd;
    padding: 8px;
}

#slides tr:nth-child(even){background-color: #f2f2f2;}

#slides tr:hover {background-color: #ddd;}

#slides th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0000ff;
    color: white;
}